* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    margin-top: 12rem;
    margin-bottom: 10rem;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1.6rem;
}

.first-card {
    background-color: hsl(228, 56%, 26%);
    width: 85%;
    border-radius: 1rem;
    border-top-right-radius: 10rem;
}

.card-logo {
    padding: 4rem;
}

.card-format-1 {
    display: flex;
    flex-direction: row;
    
    margin-top: 2.8rem;
}

.btn {
    background-color: hsl(229, 57%, 11%);
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-left: 3.3rem;
    margin-bottom: 3.3rem;
    margin-top: -3rem;
}

.second-card {
    background-color: hsl(228, 56%, 26%);
    padding: 3rem 3rem 5rem 3rem;
    width: 85%;
    border-radius: 1rem;
    position: relative;
}

.description {
    color: hsl(243, 100%, 93%);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
}

.bar {
    width: 100%;
    background-color: hsl(229, 57%, 11%);
    padding: 0.2rem;
    border-radius: 1rem;
    margin: 1.7rem 0 1rem 0;
}

.ball {
    background-color: hsl(243, 100%, 93%);
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}

.progress-color {
    width: 75%;
    background-image: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%) );
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-radius: 1rem;
}

.card-format-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text {
    color: hsl(243, 100%, 93%);
    font-size: 1.3rem;
    font-weight: 700;
}

.counter {
    background-color: white;
    padding: 1.3rem 2.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    position: relative;
    left: -50%;
}

.counter strong {
    font-size: 4rem;
    color: hsl(229, 57%, 11%);
}

.counter span {
    color: hsl(229, 7%, 55%);
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin-left: 0.8rem;
    white-space: nowrap;
}

.float-container {
    position: absolute;
    left: 50%;
    top: 80%;
}

.triangle {
    display: none;
}

.attribution {
     font-size: 1rem; 
     text-align: center; 
     color: hsl(229, 7%, 55%);
     letter-spacing: 0.1rem;
     font-weight: 400;
}

.attribution a {
     color: hsl(243, 100%, 93%); 
     font-weight: 700;
}

@media screen and (min-width: 1440px) {

    main {
        width: 60%;
    }
    
    body {
        background-image: url(./images/bg-desktop.png);
        background-size: contain;
        background-position: bottom;
        background-color: hsl(229, 57%, 11%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .cards-container {
        flex-direction: row;
        align-items: flex-end;
        height: fit-content;
        width: 100%;
        gap: 3rem;
        margin-top: -15rem;
    }

    .first-card {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .second-card {
        width: 60%;
        padding: 4rem 3rem;
    }

    .card-format-1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 3rem;
    }

    .description {
        text-align: start;
    }

    .float-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        left: unset;
        right: 3rem;
        top: -30%;
    }

    .triangle {
        display: block;
        width: 0;
        height: 0;
        border-right: 10px solid white;
        border-top: 10px solid white;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    
    .counter {
        left: 0;
        border-bottom-right-radius: 0;
    }

    footer {
        position: absolute;
        top: 70%;
    }

    .attribution {
        font-size: 1.4rem;
        color: hsl(243, 100%, 93%);
    }
    
}